<h1><%=data.welcome.message %></h1>

<div>
    <h4><%= data.welcome.date %></h4>
    <p><%= data.welcome.ip %></p>
</div>
<div>
    <h4>Weather</h4>
    <div class="today">
        <h3><%= data.weather.Headline.EffectiveDate %></h3>
        <h4><%= data.weather.Headline.Category %></h4>
        <p><%= data.weather.Headline.Text %></p>
    </div>
</div>